{{ define "content" }}
<h2>{{.Path}}</h2>
{{if .Parent }}
<a href="../"><h3>Up: {{ .Parent }}</h3></a>
{{end}}
<table>
<thead>
    <tr>
        <th>Path</th><th>Modified</th>
    </tr>
<thead>
<tbody>
    {{ range .Children }}
    <tr>
        <td style="min-width:200px;" ><a href="./{{ .Path }}">{{.Path}}</a></td>
        <td>{{if .IsFile }}{{ .Modified }}{{end}}</td>
    </tr>
    {{end}}
</tbody>
</table>
{{ if .Links }}
<ul>
{{range .Links}}
<li><a href="{{.}}">{{.}}</a></li>
{{end}}
</ul>
{{end}}

{{ end }}